/*====================
Universal Styling
=====================*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #14071E;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    font-family: 'Over the Rainbow', cursive;
    font-size: 75px;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

a:hover {
    color: coral;
}



/*=====================
 Wed Styling
======================*/
.items{
    position: relative;
}

.notebook 
.nb{
    position: absolute;
    left: 600px;
    width: 280px;
    top: 50px;
}

.redpen{
    width: 200px;
    position: fixed;
}

.possible{
    animation-name: jump;
    animation-duration: .8s;
    animation-direction: alternate;
    animation-timing-function: steps(2, end);
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 350px;
    left: 660px;
    width: 280px;
    font-weight: bold;
    font-size: x-large;
}

.i-am{
    color: red; 
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.greenpen{
    float: left;
    margin: 0 20px 0 0;
}

h3{
    font-family: 'Over the Rainbow', cursive;
    color: #368136;
    padding: 0 0 0 15px;
}

.text{
    color: white;
    margin: 170px 0;
}



















/*=====================
 Animation
======================*/
@keyframes jump {
    20%,
    100% {
      transform: translate(0, 3px);
    }

    0% {
      transform: translate(0, 0px);
    }

    10% {
      transform: translate(0, 6px);
    }
  }
  