*{
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body{
    background: #14071E;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    font-family: 'Over the Rainbow', cursive;
    font-size: 75px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: coral;
}